@model FIT5032_VMedProject.Models.Appointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Appointment Date
        </dt>

        <dd>
            @Model.AppointmentDate.ToString("dd-MM-yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            Doctor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.FirstName)
            @Html.DisplayFor(model => model.Doctor.LastName)
        </dd>

        <dt>
            Service
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AppointmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
